.brands-index-list {
	display: flex;
	margin-left: -var(--offset-xs);
	margin-right: var(--offset-xs);

	&::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 0;
	}

	@media (max-width: 1024px) {
		overflow-x: auto;
		padding-bottom: var(--offset-ls);
	}

	// .brands-index-list__item

	&__item {
		@extend %text-16;
		font-weight: 500;
		white-space: nowrap;
		@include padding-x(var(--offset-xs));

		&.active {
			color: var(--green);
		}
	}
}
