.region-popup {
	&__inner {
		display: grid;

		@media(min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media(min-width: 1025px) {
			grid-template-columns: 46.4rem 1fr;
		}
	}

	// .region-popup__content

	&__content {
		padding: 6rem 5rem;

		@media(max-width: 1024px) {
			padding: var(--offset-ls);
		}
	}

	// .region-popup__title

	&__title {
		@extend %text-25;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: var(--offset-l);
		}
	}

	// .region-popup__input

	&__input {
		@extend %text-14;
		width: 100%;
		padding: 1.55rem var(--offset-ms);
		border: 0.1rem solid var(--dark);

		@media(max-width: 500px) {
			padding: var(--offset-xs) 1.5rem;
		}

		&:not(:last-child) {
			margin-bottom: var(--offset-m);
		}

		&::placeholder {
			color: var(--gray);
		}
	}

	// .region-popup__cities

	&__cities-row {
		@include row-grid(var(--offset));

		@media(min-width: 768px) {
			height: 10rem;
			overflow-y: auto;
			@include scrollbar;
		}
	}

	&__city {
		display: block;

		.radio-text {
			@extend %text-13;
			cursor: pointer;
			transition: $transition color;

			@media (any-hover: hover) {
				&:hover {
					color: var(--gray);
				}
			}
		}
	}
}
