.btn {
    @extend %flex-center;
    @extend %text-14;
    background-color: var(--green);
    color: #fff;
    text-align: center;
    transition: $transition all;

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--green-second);
        }
    }

    &[disabled] {
        background-color: var(--line-color);
        border: none;
        cursor: not-allowed;

        @media (any-hover: hover) {
            &:hover {
                color: #fff;
            }
        }
    }

    svg {
        flex-shrink: 0;
        margin-right: 0.8rem;
        width: 1.6rem;
        height: 1.6rem;
        fill: #fff;
        transition: $transition fill;
    }

    &--disabled {
        background-color: transparent;
        border: 0.1rem solid var(--line-color);
        color: var(--gray);

        @media (any-hover: hover) {
            &:hover {
                border-color: var(--green-second);
                color: var(--green-second);
                background-color: transparent;
            }
        }
    }

    &--border {
        border: 0.1rem solid var(--dark);
        background-color: transparent;
        color: var(--dark);

        svg {
            width: 2rem;
            height: 2rem;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: transparent;
                border-color: var(--green-second);
                color: var(--green-second);

                svg {
                    fill: var(--green-second);
                }
            }
        }
    }

    &--black {
        background-color: #101112;

        @media (any-hover: hover) {
            &:hover {
                background-color: var(--green);
                color: #fff;
            }
        }
    }
}

a {
    &.btn {
        @media (any-hover: hover) {
            &:hover {
                color: #fff;
            }
        }
    }

    &.btn--border {
        @media (any-hover: hover) {
            &:hover {
                color: var(--green-second);
            }
        }
    }
}

.popup-link,
.scroll-link {
    @extend %text-12;
    line-height: 1.4rem;
    font-style: italic;
    text-decoration: underline;
}
