.btn {
	@extend %text-14;
	display: inline-flex;
	align-items: center;
	background-color: var(--green);
	color: #fff;
	transition: $transition all;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--green-second);
		}
	}

	svg {
		margin-right: var(--offset-xxs);
		fill: #fff;
		transition: $transition stroke,
			$transition fill;
	}

	&__text {
		white-space: nowrap;
	}

	&[disabled] {
		background-color: var(--line-color);
		border: none;
		cursor: not-allowed;

		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}

	&--reversed {
		flex-direction: row-reverse;

		svg {
			margin-right: 0;
		}
	}

	&--disabled {
		background-color: transparent;
		border: 0.1rem solid var(--line-color);
		color: var(--gray);

		@media (any-hover: hover) {
			&:hover {
				border-color: var(--green-second);
				color: var(--green-second);
				background-color: transparent;
			}
		}
	}

	&--transparent,
	&--style_border,
	&--style_border-dark,
	&--style_link,
	&--style_link-gray {
		background-color: transparent;
		color: var(--dark);

		@media (any-hover: hover) {
			&:hover {
				background-color: transparent;
			}
		}
	}

	&--style {

		&_link,
		&_link-gray {
			@extend %text-13;
			text-decoration: underline;
		}

		&_link {
			svg {
				fill: var(--dark);
			}

			@media (any-hover: hover) {
				&:hover {
					color: var(--gray);

					svg {
						fill: var(--gray);
					}
				}
			}
		}

		&_link-gray {
			color: var(--gray);

			svg {
				fill: var(--gray);
			}

			@media (any-hover: hover) {
				&:hover {
					color: #000;

					svg {
						fill: #000;
					}
				}
			}
		}

		&_border,
		&_border-dark {
			border-width: 0.1rem;
			border-style: solid;

			svg {
				width: var(--icon-size_ms);
				height: var(--icon-size_ms);
				fill: none;
			}
		}

		&_border {
			border-color: var(--green);
			color: var(--green);

			svg {
				stroke: var(--green);
			}

			@media (any-hover: hover) {
				&:hover {
					border-color: var(--green-second);
					color: var(--green-second);

					svg {
						stroke: var(--green-second);
					}
				}
			}

			&-dark {
				border-color: var(--dark);

				svg {
					stroke: var(--dark);
				}

				@media (any-hover: hover) {
					&:hover {
						border-color: var(--red);
						color: var(--red);

						svg {
							stroke: var(--red);
						}
					}
				}
			}
		}

		&_bg {
			&-red {
				background-color: var(--red);

				@media (any-hover: hover) {
					&:hover {
						background-color: var(--red);
						box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.25);
					}
				}
			}

			&-black {
				background-color: var(--dark);

				@media (any-hover: hover) {
					&:hover {
						background-color: var(--green);
						color: #fff;
					}
				}
			}
		}
	}
}

.popup-link,
.scroll-link {
	@extend %text-12;
	line-height: 1.4rem;
	font-style: italic;
	text-decoration: underline;
}
