.page {
	position: relative;
	flex: 1 0 auto;
	padding-bottom: 11rem;

	@media (max-width: 1024px) {
		padding-bottom: 0rem;
	}

	@media (max-width: 767px) {
		padding-top: var(--offset-m);
	}

	@media (max-width: 500px) {
		padding-bottom: var(--offset-ls);
	}

	&__top {
		@extend %flex-row-center;
		flex-wrap: wrap;
		margin-bottom: 4rem;

		&--margin-bottom {
			&_30 {
				margin-bottom: var(--offset-ls);
			}
		}

		@media (max-width: 500px) {
			margin-bottom: var(--offset-ms);
		}
	}

	&__subtitle {
		@extend %text-20;
		font-weight: 500;

		@media (max-width: 500px) {
			font-size: 1.4rem;
			line-height: 2.1rem;
		}

		&:not(:last-child) {
			margin-bottom: var(--gap);

			@media (max-width: 500px) {
				margin-bottom: 2.5rem;
			}
		}
	}
}
