.swiper-button {

	&-prev,
	&-next {
		svg {
			transition: $transition fill;
		}

		&:after {
			content: '';
		}
	}
}

.swiper {
	.swiper-button {

		&-prev,
		&-next {
			@extend %flex-center;
			@extend %pos-center-y;
			@include round(4.2rem);
			background-color: #fff;
			transition: $transition background-color;

			svg {
				width: 2.8rem;
				height: 2.8rem;
				fill: var(--dark);
			}

			@media (any-hover: hover) {
				&:hover {
					background-color: var(--dark);

					svg {
						fill: #fff;
					}
				}
			}
		}
	}
}

.slider-arrows {
	.swiper-button {

		&-prev,
		&-next {
			position: static;
			width: auto;
			height: auto;
			margin-top: 0;
			cursor: pointer;

			svg {
				width: 5.6rem;
				height: var(--icon-size);
				fill: var(--gray-c0);

				@media(max-width: 500px) {
					width: 5rem;
					height: var(--icon-size_xs);
				}
			}

			@media (any-hover: hover) {
				&:hover {
					background-color: transparent;

					svg {
						fill: var(--dark);
					}
				}
			}
		}

		&-next {
			@media(min-width: 501px) {
				margin-left: var(--offset-s);
			}
		}
	}
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	display: flex;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	@include margin-x(var(--offset-xxxs));
}

.swiper-pagination-bullet {
	width: var(--icon-size_ms);
	height: 0.4rem;
	border-radius: 0;
	background-color: #fff;
	opacity: 0.3;

	&-active {
		opacity: 1;
	}
}
