.social {

	display: flex;
	// .social__item

	&__item {

		flex-shrink: 0;

		svg {
			rect {
				transition: .3s fill;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				svg rect {
					fill: $red;
				}
			}
		}
	}
}
