.blog-tag {
	@extend %vertical-align;
	font-weight: 500;
	padding: var(--offset-xxs) var(--offset-xs);
	border: 0.1rem solid var(--dark-gray);
	transition: $transition all;

	svg {
		margin-left: 0.5rem;
		fill: var(--gray);
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--dark-gray);
			color: #fff;

			svg {
				fill: #fff;
			}
		}
	}
}
