html {
	box-sizing: border-box;
	font-size: calc(100vw / 1920 * 10);

	&.disable-fix {
		@media (min-width: 1025px) {
			padding-right: 17px;
		}
	}

	@media (max-width: 1600px) {
		font-size: calc(100vw / 1600 * 10);
	}

	@media (max-width: 1440px) {
		font-size: calc(100vw / 1440 * 10);
	}

	@media (max-width: 1024px) {
		font-size: calc(100vw / 768 * 10);
	}

	@media (max-width: 767px) {
		font-size: calc(100vw / 500 * 10);
	}

	@media (max-width: 500px) {
		font-size: calc(100vw / 360 * 10);
	}
}

body {
	min-width: 320px;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-feature-settings: 'pnum'on, 'lnum'on;
	color: #000;
	overflow-x: hidden;
	font-size: 1.4rem;
	line-height: 2.1rem;

	&._lock {
		overflow-y: hidden;
	}
}

button,
textarea,
input {
	font-family: 'Raleway', sans-serif;
	font-feature-settings: 'pnum'on, 'lnum'on;
}

dt {
	float: left;
}

.wrapper {
	position: relative;
	overflow-x: hidden;
	@extend %flex-col;
	min-height: 100vh;
}

.container {
	max-width: $container + $gap * 2;
	//max-width: calc(1500px + 1.6rem * 2);
	padding: 0 $gap;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
	border: none;

	table & {
		max-width: none;
	}
}

img[data-src],
img[data-srcset] {
	display: block;
	min-height: 1px;
}

a {
	transition: 0.3s all;

	@media (any-hover: hover) {
		&:hover {
			//color: $green;
			color: #777;
		}
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}
