html {
	box-sizing: border-box;
	height: 100%; // Footer at bottom
	font-size: calc(100vw / 1600 * 10);

	@media(max-width: 1024px) {
		font-size: calc(100vw / 768 * 10);
	}

	/* @media(max-width: 992px) {
        font-size: calc(100vw / 768 * 10);
    } */

	@media(max-width: 767px) {
		font-size: calc(100vw / 500 * 10);
	}

	@media(max-width: 500px) {
		font-size: calc(100vw / 360 * 10);
	}
}

body {
	min-width: 320px;
	//display: flex; // Footer at bottom
	//flex-direction: column; // Footer at bottom
	//height: 100%; // Footer at bottom
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-feature-settings: 'pnum'on, 'lnum'on;
	color: #101112;

	//background-color: #fff;
	&._lock {
		overflow-y: hidden;
	}

	/* &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0;
        height: 0;
    } */
	//&::-webkit-scrollbar-thumb {}
}

.wrapper {
	position: relative;
	overflow-x: hidden;
	@extend %flex-col;
	min-height: 100vh;
}

.header {
	//flex-shrink: 0; // Footer at bottom
}

.page {
	position: relative;
	flex: 1 0 auto; // Footer at bottom
}

.home-page {
	>* {
		&:first-child {
			padding-bottom: 7rem;
		}
	}
}

.all-link {
	@extend %vertical-align;
	@extend %text-16;
	color: #9B9B9B;
	position: relative;

	@media(max-width: 500px) {
		font-size: 1.4rem;
		line-height: 2.1rem;
	}

	svg {
		width: 5.6rem;
		height: 1.6rem;
		margin-left: 1.6rem;

		@media(max-width: 500px) {
			width: 3.5rem;
			height: 1rem;
			margin-left: 1rem;
		}

		path {
			transition: .3s fill;
		}
	}

	@media (any-hover: hover) {
		&:hover {
			svg {
				path {
					fill: $red;
				}
			}
		}
	}
}

.section {
	&:not(:last-child) {
		padding-bottom: 8rem;
	}

	&__title {
		@extend %flex-row-center;
		margin-bottom: 3rem;
	}
}

/* .footer {
	z-index: 10;
	flex-shrink: 0; // Footer at bottom
	margin-top: auto;
} */

.container {
	max-width: $container + $gap * 2;
	padding: 0 $gap;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
	border: none;

	table & {
		max-width: none;
	}
}

a {
	transition: .3s color;

	@media (any-hover: hover) {
		&:hover {
			color: $red;
		}
	}
}

.logo {

	&__link {
		@extend %vertical-align;
	}

	// .logo__img

	&__img {
		object-fit: contain;
	}
}

/* .visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.full-link {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
} */
