.blog-item {
	display: grid;
	align-content: flex-start;
	gap: var(--gap);

	@media (max-width: 1024px) {
		gap: var(--offset-s);
	}

	@media (min-width: 1025px) {
		grid-template-columns: repeat(2, 1fr);
	}

	// .blog-item__img

	&__img {
		display: block;

		@media (max-width: 1024px) {
			height: 22.3rem;
		}

		img {
			@extend %cover;
			transition: 1.5s transform;
		}

		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.015);
				}
			}
		}
	}

	&__content {
		@extend %flex-col;

		>* {
			&:not(:last-child) {
				margin-bottom: var(--offset-xxs);
			}
		}
	}

	// .blog-item__date

	&__date {
		@extend %text-13;
	}

	// .blog-item__title

	&__title {
		@extend %text-20;
	}

	.tag {
		@extend %text-13;
	}
}
