.labels {
	display: flex;
	flex-wrap: wrap;
	gap: var(--offset-xs);
}

.catalog-card,
.product-popup {
	.labels {
		position: absolute;
		z-index: 10;
	}
}

.catalog-card {
	.labels {
		top: 1.5rem;
		left: 1.5rem;
	}
}

.product-popup {
	.labels {
		top: var(--offset-ms);
		left: var(--offset-ms);
	}
}

.label {
	@extend %flex-center;
	@include round(4.5rem);
	flex-shrink: 0;
	font-weight: 600;
	color: #fff;

	&--size {
		&_xl {
			width: 5rem;
			height: 5rem;
			font-size: 1.5rem;
			line-height: 2.2rem;
		}
	}

	&--style {
		&_bg {
			&-red {
				background-color: var(--red);
			}

			&-green {
				background-color: var(--green);
			}
		}
	}
}

.catalog-card {
	$this: &;

	position: relative;

	// .catalog-card__favorite

	&__favorite {
		position: absolute;
		top: 1.5rem;
		z-index: 10;
		right: 1.5rem;
		width: var(--icon-size_ls);
		height: var(--icon-size_ls);
	}

	// .catalog-card__img

	&__img {
		position: relative;
		height: 44.8rem;
		display: block;
		transition: $transition height;

		img {
			@extend %cover;

			@media (max-width: 767px) {
				object-position: top;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				#{$this} {
					&__info {
						opacity: 1;
					}
				}
			}
		}
	}

	&__content {
		padding-top: var(--offset-s);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__info {
		@include row-grid(var(--offset-s));
		justify-items: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(#fff, 0.8);
		padding: var(--offset-ms);
		text-align: center;
		opacity: 0;
		transition: $transition all;

		@media (max-width: 500px) {
			row-gap: 0.75rem;
			padding: 1.5rem 0.5rem;
		}
	}

	&__sizes {
		display: flex;
		justify-content: center;
		gap: 2.6rem;

		@media(max-width: 767px) {
			gap: var(--offset-xs);
		}
	}

	&__size {
		@extend %text-16;
		font-weight: 600;
		white-space: nowrap;

		@media (max-width: 767px) {
			font-size: 1.2rem;
			line-height: 1.8rem;
		}

		&[disabled],
		&--disabled {
			color: var(--gray);
			cursor: not-allowed;

			@media (any-hover: hover) {
				&:hover {
					color: var(--gray);
				}
			}
		}
	}

	&__info-link {
		@extend %text-13;
		font-weight: 600;
		font-style: normal;
		position: relative;
		padding-bottom: 0.3rem;
		text-decoration: none;

		@media (max-width: 500px) {
			font-size: 1.2rem;
			line-height: 1.8rem;
			padding-bottom: 0.15rem;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 0.1rem;
			background-color: var(--dark);
			transition: $transition width;
		}

		@media (any-hover: hover) {
			&:hover {
				&:after {
					width: 0%;
				}
			}
		}
	}

	// .catalog-card__title

	&__title {
		@extend %text-17;
		font-weight: 600;

		&:not(:last-child) {
			margin-bottom: 0.3rem;
		}
	}

	// .catalog-card__subtitle

	&__subtitle {
		text-transform: uppercase;
		color: var(--gray);
		margin-bottom: 0.7rem;
	}

	&__prices {
		gap: var(--offset-xxs);
	}

	&__price {
		@extend %text-16;
		font-weight: 600;
	}

	// .catalog-card__old-price

	&__old-price {
		@extend %text-13;
	}

	&.sale {
		.label--style_bg-red {
			display: flex;
		}
	}

	&.new {
		.label--style_bg-green {
			display: flex;
		}
	}
}
