label.error {
	@extend %text-12;
	color: var(--red);
	margin-top: -1.5rem;
}

.input.error {
	border-color: var(--red);
}

.check-box.error+label.error {
	order: 5;
	width: 100%;
	margin-top: 0.5rem;
}

.success-form {
	@extend %text-14;
	font-weight: 500;
	color: var(--green);
	margin-top: 2rem;
}

.field {
	&--error {
		input {
			border-color: var(--red);
		}
	}

	&__error {
		margin-top: 0.5rem;

		span {
			color: var(--red);
			font-weight: 500;
		}
	}
}
