label.error {
	@extend %text-12;
	color: $red;
	margin-top: -1.5rem;
}

.input.error {
	border-color: $red;
}

.check-box.error+label.error {
	//display: none !important;
	order: 5;
	width: 100%;
	margin-top: 0.5rem;
}

.success-form {
	@extend %text-14;
	font-weight: 500;
	color: $green;
	margin-top: 2rem;
}
