.icons-slider {

	// .icons-slider__item

	&__item {
		width: 12.8rem;
		margin-right: 5.2rem;

		@media(max-width: 767px) {
			margin-right: 2.5rem;
		}
	}

	// .icons-slider__item-img

	&__item-img {
		@extend %flex-center;
		width: 100%;
		height: 12.8rem;
		background-color: #F4F4F6;
		border-radius: 7.1rem;

		&:not(:last-child) {
			margin-bottom: 1.6rem;
		}

		img {
			&.loaded {
				width: 6.8rem;
				height: 10.1rem;
			}
		}
	}

	// .icons-slider__item-title

	&__item-title {
		@extend %text-16;
		font-weight: 600;
		text-align: center;

		@media(max-width: 500px) {
			font-size: 1.4rem;
			line-height: 2.1rem;
		}
	}
}
