.fancybox__toolbar {
	display: none;
}

.fancybox-content {
	padding: 0;
	overflow-x: hidden;
}

.fancybox-infobar,
.fancybox-toolbar {
	display: none;
}

.fancybox-bg {
	z-index: 99991;
}

.fancybox-content {

	//transform: translateY(-50%, 0) !important;
	//margin-bottom: 0 !important;

	img {
		@extend %cover;
	}
}

.fancybox-slide--html .fancybox-close-small {
	top: 0;
	right: -3.2rem - 1.5rem;
	z-index: 99995;
	padding: 0;
	width: 3.2rem;
	height: 3.2rem;
	opacity: 1;
	//color: #F4F4F6;
	//width: 3.2rem;
	//height: 3.2rem;
	//background-image: url(../images/icons/popup-close.svg);
	///@extend %bg-contain;

	svg {

		//fill: #F4F4F6;
		path {
			fill: #F4F4F6;
		}
	}
}

.fancybox-button {
	svg {
		width: 3.2rem;
		height: 3.2rem;

		path {
			fill: #101112;
			transition: .3s fill;
		}
	}

	/* @media (any-hover: hover) {
		&:hover {
			background-color: #101112;

			svg path {
				fill: #fff;
			}
		}
	} */
}

.fancybox-navigation .fancybox-button {
	width: 4.2rem;
	height: 4.2rem;
	border-radius: 50%;
	background: #fff;
	opacity: 1;
	transition: .3s background-color;

	div {
		padding: 0;
		@extend %flex-center;
	}

	&--arrow {

		&_left {
			left: calc((100vw - 64rem) / 2 - 6rem);
			padding: 0;
		}

		&_right {
			right: calc((100vw - 64rem) / 2 - 6rem);
			padding: 0;
		}
	}
}

.popup {
	position: absolute;
	@extend %pos-center-xy;
	width: 76.8rem;
	background-color: #fff;

	&__close {
		position: absolute;
		top: 0;
		right: -1.5rem;

		svg {
			width: 3.2rem;
			height: 3.2rem;

			path {
				transition: .3s fill;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				svg path {
					fill: $red;
				}
			}
		}
	}
}

.mini-popup {

	// .mini-popup__inner

	&__inner {
		display: grid;
		grid-template-columns: 33rem 1fr;

		@media(min-width: 1025px) {
			width: 76.8rem;
		}
	}

	// .mini-popup__content

	&__content {
		padding: 7rem 5.1rem;
	}

	// .mini-popup__title

	&__title {
		@extend %text-25;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 0.8rem;
		}
	}

	// .mini-popup__subtitle

	&__subtitle {
		@extend %text-16;
		color: #777;

		&:not(:last-child) {
			margin-bottom: 3.6rem;
		}
	}
}

.region-popup {

	width: 98rem;

	@media(max-width: 1024px) {
		width: calc(100vw - 1.5rem * 2);
	}

	@media(max-width: 500px) {
		width: 100vw;
	}

	// .region-popup__inner

	&__inner {
		display: grid;

		@media(min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media(min-width: 1025px) {
			grid-template-columns: 46.4rem 1fr;
		}
	}

	// .region-popup__content

	&__content {
		padding: 6rem 5rem;

		@media(max-width: 1024px) {
			padding: 3rem;
		}
	}

	// .region-popup__title

	&__title {
		@extend %text-25;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 3.2rem;
		}
	}

	// .region-popup__input

	&__input {
		@extend %text-14;
		width: 100%;
		padding: 1.55rem 2rem;
		border: 0.1rem solid #101112;

		@media(max-width: 500px) {
			padding: 1rem 1.5rem;
		}

		&:not(:last-child) {
			margin-bottom: 2.4rem;
		}

		&::placeholder {
			color: #777;
		}
	}

	// .region-popup__cities

	&__cities-row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@media(min-width: 1025px) {
			grid-template-columns: repeat(2, max-content);
			grid-gap: 17.5rem;
		}
	}

	&__city {
		display: block;

		&:not(:last-child) {
			margin-bottom: 1.6rem;
		}

		.radio-text {
			@extend %text-13;
			cursor: pointer;
			transition: .3s color;

			@media (any-hover: hover) {
				&:hover {
					color: $green;
				}
			}
		}
	}
}



.product-popup {

	display: none;

	@media(min-width: 1025px) {
		width: 98.2rem;
	}

	// .product-popup__inner

	&__inner {
		display: grid;
		grid-template-columns: 464 / 982 * 100% auto 1rem;
		grid-template-rows: 59rem 7.6rem;
		grid-template-areas:
			"slider info ."
			"link link ."
		;
	}

	// .product-popup__slider

	&__slider {
		position: relative;
		grid-area: slider;
		width: 100%;

		.swiper-horizontal>.swiper-pagination-bullets,
		.swiper-pagination-bullets.swiper-pagination-horizontal {
			@extend %pos-center-x;
			justify-content: center;
			bottom: 2rem;
		}

		.swiper-button-prev {
			left: 2rem;
		}

		.swiper-button-next {
			right: 2rem;
		}
	}

	&__slider-item {
		img {
			@extend %cover;
		}
	}

	// .product-popup__label

	&__label {
		position: absolute;
		top: 2rem;
		left: 2rem;
		z-index: 20;
		width: 5rem;
		height: 5rem;
		font-size: 1.5rem;
		line-height: 2.2rem;
	}

	// .product-popup__content

	&__content {
		grid-area: info;
		padding: 3.4rem 1.4rem 3rem 3rem;
		@include scrollbar;
	}

	&__about {
		&:not(:last-child) {
			margin-bottom: 4rem;
		}
	}

	// .product-popup__content-top

	&__content-top {
		padding-bottom: 1.6rem;
		border-bottom: 0.1rem solid #EFEFEF;

		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}

	// .product-popup__title

	&__title {
		@extend %text-20;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 0.7rem;
		}
	}

	// .product-popup__prices

	&__prices {
		display: flex;
		align-items: flex-end;
	}

	// .product-popup__old-price

	&__old-price {
		@extend %text-12;
		margin-right: 0.6rem;
	}

	// .product-popup__form

	&__form {
		&:not(:last-child) {
			margin-bottom: 2.4rem;
		}
	}

	// .product-popup__more-link

	&__more-link {
		@extend %flex-center;
		@extend %text-14;
		font-weight: 500;
		grid-area: link;
		background-color: #F4F4F6;

		svg {
			width: 5.6rem;
			height: 1.6rem;
			margin-left: 1.4rem;

			path {
				transition: .3s fill;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				svg path {
					fill: $red;
				}
			}
		}
	}
}

.about-product {

	// .about-product__title

	&__title {
		@extend %text-16;
		font-weight: 600;
		margin-bottom: 0.8rem;
	}

	// .about-product__list

	&__list {
		@extend %text-13;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		div {
			&:not(:last-child) {
				margin-bottom: 0.4rem;
			}

			dt {
				color: #505661;
				padding-right: 0.3rem;
			}
		}
	}
}

.product-sizes-popup {

	width: 89.5rem;
	padding-right: 0.7rem;


	//max-height: 66.7rem;
	&__inner {
		height: 66.7rem;
		@include scrollbar;
		padding: 4rem 2.8rem 6.2rem 4rem;
	}

	// .product-sizes-popup__top

	&__top {
		display: grid;
		grid-template-columns: max-content 12.2rem;
		justify-content: space-between;
		grid-template-areas:
			"title logo"
			"subtitle logo"
		;
		row-gap: 1.8rem;
		padding-bottom: 3rem;
		border-bottom: 0.1rem solid #EAEAEA;
	}

	&__logo {
		height: 9rem;
	}

	// .product-sizes-popup__title

	&__title {
		@extend %text-35;
		font-weight: 500;
		grid-area: title;
	}

	// .product-sizes-popup__subtitle

	&__subtitle {
		@extend %text-16;
		grid-area: subtitle;
	}

	// .product-sizes-popup__logo

	&__logo {
		grid-area: logo;
	}

	// .product-sizes-popup__table

	&__table {
		width: 100%;
		text-align: center;

		&:not(:last-child) {
			margin-bottom: 5rem;
		}

		th {
			@extend %text-14;
			font-weight: 400;
			color: #777;
			padding-top: 2.4rem;
		}

		tbody {
			tr {

				&:nth-child(even) {
					background-color: #F4F4F6;
				}

				td {
					@extend %text-13;
					color: #101112;
					padding: 2.1rem 0;

					b {
						font-weight: 600;
					}
				}
			}
		}
	}
}

.how-define-size {

	// .how-define-size__title

	&__title {
		@extend %text-20;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	// .how-define-size__inner

	&__inner {
		display: grid;
		grid-template-columns: 1fr 24.3rem;
		grid-gap: 5rem;
	}

	// .how-define-size__content

	&__content {
		p {
			@extend %text-14;

			&:not(:last-child) {
				margin-bottom: 2rem;
			}
		}
	}

	&__img {
		height: 32rem;
	}
}
