.fancybox__toolbar {
	display: none;
}

.fancybox-content {
	padding: 0;
	overflow-x: hidden;
	width: 670 * 100vw / 1920 !important;

	img {
		@extend %cover;
	}
}

.fancybox-infobar,
.fancybox-toolbar {
	display: none;
}

.fancybox-bg {
	z-index: 99991;
	background: #101112;
}

.fancybox-is-open .fancybox-bg {
	opacity: .8;
}

.fancybox-slide--image {
	.fancybox-content {
		left: 50%;
		height: 100vh !important;
		transform: translate(-50%, 0) !important;
	}
}

.fancybox-slide--html {
	@media(max-width: 500px) {
		padding: 0;
	}

	.fancybox-close-small {
		top: 0;
		right: -3.2rem - 1.5rem;
		z-index: 99995;
		padding: 0;
		width: 3.2rem;
		height: 3.2rem;
		opacity: 1;

		@media(max-width: 767px) {
			top: 2rem;
			right: 2rem;
		}

		svg {
			path {
				fill: #F4F4F6;

				@media(max-width: 767px) {
					fill: #101112;
				}
			}
		}
	}
}

.fancybox-button {

	svg {
		width: 3.2rem;
		height: 3.2rem;
	}
}

.fancybox-navigation .fancybox-button {
	width: 4.2rem;
	height: 4.2rem;
	border-radius: 50%;
	background: #fff;
	opacity: 1;
	transition: .3s background-color;

	div {
		padding: 0;
		@extend %flex-center;
	}

	&--arrow {

		&_left {
			left: calc((100vw - 64rem) / 2 - 6rem);
			padding: 0;
		}

		&_right {
			right: calc((100vw - 64rem) / 2 - 6rem);
			padding: 0;
		}
	}
}

#pickup-popup {
	width: 103rem !important;
}

.popup {

	background-color: #fff;

	&__close {
		position: absolute;
		top: 0;
		right: -1.5rem;

		svg {
			width: 3.2rem;
			height: 3.2rem;

			path {
				transition: .3s fill;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				svg path {
					fill: $red;
				}
			}
		}
	}
}

.mini-popup {

	// .mini-popup__inner

	&__inner {
		display: grid;
		grid-template-columns: 33rem 1fr;

		@media(min-width: 1025px) {
			width: 76.8rem;
		}
	}

	// .mini-popup__content

	&__content {
		padding: 7rem 5.1rem;
	}

	// .mini-popup__title

	&__title {
		@extend %text-25;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 0.8rem;
		}
	}

	// .mini-popup__subtitle

	&__subtitle {
		@extend %text-16;
		color: #777;

		&:not(:last-child) {
			margin-bottom: 3.6rem;
		}
	}
}

.region-popup {

	width: 98rem;

	@media(max-width: 1024px) {
		width: calc(100vw - 1.5rem * 2);
	}

	@media(max-width: 500px) {
		width: 100vw;
	}

	// .region-popup__inner

	&__inner {
		display: grid;

		@media(min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media(min-width: 1025px) {
			grid-template-columns: 46.4rem 1fr;
		}
	}

	// .region-popup__content

	&__content {
		padding: 6rem 5rem;

		@media(max-width: 1024px) {
			padding: 3rem;
		}
	}

	// .region-popup__title

	&__title {
		@extend %text-25;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 3.2rem;
		}
	}

	// .region-popup__input

	&__input {
		@extend %text-14;
		width: 100%;
		padding: 1.55rem 2rem;
		border: 0.1rem solid #101112;

		@media(max-width: 500px) {
			padding: 1rem 1.5rem;
		}

		&:not(:last-child) {
			margin-bottom: 2.4rem;
		}

		&::placeholder {
			color: #777;
		}
	}

	// .region-popup__cities

	&__cities-row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@media(min-width: 1025px) {
			grid-template-columns: repeat(2, max-content);
			grid-gap: 17.5rem;
		}
	}

	&__city {
		display: block;

		&:not(:last-child) {
			margin-bottom: 1.6rem;
		}

		.radio-text {
			@extend %text-13;
			cursor: pointer;
			transition: .3s color;

			@media (any-hover: hover) {
				&:hover {
					color: $green;
				}
			}
		}
	}
}

#product-popup {
	@media(max-width: 1024px) {
		width: calc(100vw - 1.6rem * 2) !important;
	}

	@media(min-width: 1025px) {
		width: 98.2rem !important;
	}
}

.product-popup {

	display: none;

	// .product-popup__inner

	&__inner {
		@media(min-width: 1025px) {
			display: grid;
			grid-template-columns: 464 / 982 * 100% auto 1rem;
			grid-template-rows: 59rem 7.6rem;
			grid-template-areas: "slider info ."
				"link link ."
			;
		}
	}

	// .product-popup__slider

	&__slider {
		position: relative;
		grid-area: slider;
		width: 100%;

		.swiper-horizontal>.swiper-pagination-bullets,
		.swiper-pagination-bullets.swiper-pagination-horizontal {
			@extend %pos-center-x;
			justify-content: center;
			bottom: 2rem;

			@media(max-width: 1024px) {
				display: none;
			}

			@media(max-width: 500px) {
				display: block;
			}
		}

		.swiper-button-prev {
			left: 2rem;
		}

		.swiper-button-next {
			right: 2rem;
		}
	}

	&__slider-item {
		img {
			@extend %cover;
		}
	}

	// .product-popup__label

	&__label {
		position: absolute;
		top: 2rem;
		left: 2rem;
		z-index: 20;
		width: 5rem;
		height: 5rem;
		font-size: 1.5rem;
		line-height: 2.2rem;
	}

	// .product-popup__content

	&__content {
		grid-area: info;
		padding: 3.4rem 1.4rem 3rem 3rem;
		@include scrollbar;

		@media(max-width: 1024px) {
			padding: 3rem;
		}

		@media(max-width: 767px) {
			padding: 3rem 1.5rem;
		}
	}

	&__about {
		&:not(:last-child) {
			margin-bottom: 4rem;
		}
	}

	// .product-popup__content-top

	&__content-top {
		padding-bottom: 1.6rem;
		border-bottom: 0.1rem solid #EFEFEF;

		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}

	// .product-popup__title

	&__title {
		@extend %text-20;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 0.7rem;
		}
	}

	// .product-popup__prices

	&__prices {
		display: flex;
		align-items: flex-end;
	}

	// .product-popup__old-price

	&__old-price {
		@extend %text-12;
		margin-right: 0.6rem;
	}

	// .product-popup__form

	&__form {
		&:not(:last-child) {
			margin-bottom: 2.4rem;
		}
	}

	// .product-popup__more-link

	&__more-link {
		@extend %flex-center;
		@extend %text-14;
		font-weight: 500;
		grid-area: link;
		background-color: #F4F4F6;

		@media(max-width: 1024px) {
			padding: 2.6rem;
		}

		svg {
			width: 5.6rem;
			height: 1.6rem;
			margin-left: 1.4rem;

			path {
				transition: .3s fill;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				svg path {
					fill: $red;
				}
			}
		}
	}
}

.about-product {

	// .about-product__title

	&__title {
		@extend %text-16;
		font-weight: 600;
		margin-bottom: 0.8rem;
	}

	// .about-product__list

	&__list {
		@extend %text-13;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		div {
			&:not(:last-child) {
				margin-bottom: 0.4rem;
			}

			dt {
				color: #505661;
				padding-right: 0.3rem;
			}
		}
	}
}

#product-sizes-popup {
	width: 89.5rem !important;
}

.product-sizes-popup {
	padding-right: 0.7rem;

	@media(max-width: 767px) {
		height: 100vh;
	}


	//max-height: 66.7rem;
	&__inner {
		@include scrollbar;
		padding: 4rem 2.8rem 6.2rem 4rem;

		@media(min-width: 768px) {
			height: 66.7rem;
		}

		@media(max-width: 1024px) {
			padding: 3rem;
		}

		@media(max-width: 500px) {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}

	// .product-sizes-popup__top

	&__top {
		display: grid;
		grid-template-columns: max-content 12.2rem;
		grid-template-areas:
			"title logo"
			"subtitle logo"
		;
		row-gap: 1.8rem;
		padding-bottom: 3rem;
		border-bottom: 0.1rem solid #EAEAEA;

		@media(max-width: 767px) {
			grid-template-columns: 12.2rem max-content;
			grid-template-areas:
				"logo ."
				"title title"
				"subtitle subtitle"
			;
		}

		@media(min-width: 768px) {
			justify-content: space-between;
		}
	}

	&__logo {
		height: 9rem;
	}

	// .product-sizes-popup__title

	&__title {
		@extend %text-35;
		font-weight: 500;
		grid-area: title;

		@media(max-width: 767px) {
			font-size: 2rem;
			line-height: 3rem;
		}
	}

	// .product-sizes-popup__subtitle

	&__subtitle {
		@extend %text-16;
		grid-area: subtitle;
	}

	// .product-sizes-popup__logo

	&__logo {
		grid-area: logo;
	}

	// .product-sizes-popup__table

	&__table {
		width: 100%;
		text-align: center;
		overflow-x: auto;

		&:not(:last-child) {
			margin-bottom: 5rem;
		}

		th {
			@extend %text-14;
			font-weight: 400;
			color: #777;
			padding-top: 2.4rem;
			white-space: nowrap;
			padding: 2.4rem 1.25rem 0;
		}

		tbody {
			tr {

				&:nth-child(even) {
					background-color: #F4F4F6;
				}

				td {
					@extend %text-13;
					color: #101112;
					padding: 2.1rem 0;

					b {
						font-weight: 600;
					}
				}
			}
		}
	}
}

.how-define-size {

	// .how-define-size__title

	&__title {
		@extend %text-20;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	// .how-define-size__inner

	&__inner {
		display: grid;
		grid-gap: 5rem;

		@media(max-width: 1024px) {
			grid-gap: 3rem;
		}

		@media(min-width: 1025px) {
			grid-template-columns: 1fr 24.3rem;
		}
	}

	// .how-define-size__content

	&__content {
		p {
			@extend %text-14;

			&:not(:last-child) {
				margin-bottom: 2rem;
			}
		}
	}

	&__img {
		height: 32rem;
	}
}


.overlay {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 200;
	width: 100%;
	height: 100%;
	background-color: rgba(#000, .5);
	overflow-y: auto;
}

.aside-popup {

	display: none;
	position: absolute;
	top: 0;
	right: -51.5rem;
	bottom: 0;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	width: 51.5rem;
	background-color: #fff;
	transition: .3s right;
	@include scrollbar;

	&--basket {
		padding-bottom: 0;
	}

	&.active {
		right: 0;

		@media(max-width: 767px) {
			right: 0;
		}
	}

	@media(max-width: 767px) {
		width: 100%;
		padding-left: 2rem;
		padding-right: 2rem;
		right: -100%;
	}

	// .aside-popup__close

	&__close {
		position: absolute;
		top: 2rem;
		right: 2rem;
		z-index: 20;
		width: 3.2rem;
		height: 3.2rem;

		svg path {
			transition: .3s fill;
		}

		@media (any-hover: hover) {
			&:hover {
				svg path {
					fill: $red;
				}
			}
		}
	}

	// .aside-popup__title

	&__title {
		@extend %text-25;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	// .aside-popup__text

	&__text {
		@extend %text-14;

		&:not(:last-child) {
			margin-bottom: 4rem;
		}
	}

	// .aside-popup__tabs

	&__tabs {
		&:not(:last-child) {
			margin-bottom: 4rem;
		}
	}

	// .aside-popup__tab

	&__tab {
		padding-bottom: 0.9rem;

		&:not(:last-child) {
			margin-right: 4rem;
		}
	}

	// .aside-popup__content

	&__content {
		@media(min-width: 768px) {
			width: 30rem;
		}
	}

	&__body {
		&:not(:last-child) {
			padding-bottom: 3rem;
		}
	}

	// .aside-popup__form

	&__form {

		&:not(:last-child) {
			margin-bottom: 4rem;
		}
	}

	&__form-inputs {
		display: grid;
		grid-gap: 1.5rem;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	&__form-wrap {
		@extend %flex-row-center;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}

		.form-agree {
			align-items: center;
		}

		.check-text {
			margin-left: 0.8rem;
		}
	}

	&__form-btn {
		@extend %text-14;
		font-weight: 600;
		padding: 1.3rem;
		width: 100%;
	}

	// .aside-popup__link-btn

	&__link-btn {
		@extend %text-14;
		font-weight: 500;
		color: $green;
	}

	// .aside-popup__social

	&__social {
		padding-top: 3rem;
		border-top: 0.1rem solid #CCC;
	}

	// .aside-popup__social-title

	&__social-title {
		@extend %text-14;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 1.6rem;
		}
	}

	// .aside-popup__social-item

	&__social-item {
		svg {
			width: 4rem;
			height: 4rem;

			path {
				transition: .3s fill;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				svg path {
					fill: $red;
				}
			}
		}

		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
}

.remind-password {
	@extend %text-12;
	color: #777;
	text-decoration: underline;

	@media (any-hover: hover) {
		&:hover {
			color: $green;
		}
	}
}

#auth-popup {
	padding: 5rem;
}

#phone-enter {
	display: none;
}

.password-change {

	width: 42rem;
	padding: 6rem;
	// .password-change__title

	&__title {
		@extend %text-25;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	// .password-change__form

	&__form {
		display: grid;
		grid-gap: 1.5rem;
	}

	// .password-change__form-btn

	&__form-btn {
		@extend %text-14;
		font-weight: 600;
		padding: 1.35rem;
	}
}

.sale-popup {

	width: 53rem;
	padding: 6rem;
	position: absolute;
	@extend %pos-center-xy;

	@media(max-width: 767px) {
		width: 100vw;
		min-height: 100vh;
		top: 0;
		transform: translate(-50%, 0);
	}

	&__title {
		@extend %text-25;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 3.5rem;
		}
	}

	&__form-items {
		&:not(:last-child) {
			margin-bottom: 5rem;
		}
	}

	// .sale-popup__form-item

	&__form-item {
		display: grid;
		grid-gap: 1rem;

		@media(min-width: 768px) {
			grid-template-columns: max-content 24.7rem;
			justify-content: space-between;
			align-items: center;
		}

		&:not(:last-child) {
			margin-bottom: 3.3rem;
		}
	}

	// .sale-popup__form-check

	&__form-check {
		@extend %vertical-align;
		flex-shrink: 0;
		cursor: pointer;

		.check-style {
			display: block;
		}

		.check-text {
			padding-left: 1.2rem;
		}
	}

	// .sale-popup__form-btn

	&__form-btn {
		@extend %text-14;
		font-weight: 500;
		padding: 1.3rem 3rem;
	}
}
