.fancybox-content {
	padding: 0;
	overflow-x: hidden;

	/* @media(min-width: 1025px) {
		width: 670 * 100vw / 1920 !important;
	} */

	/* @media(max-width: 767px) {
		width: calc(100vw - 3.2rem) !important;
	} */

	img {
		@extend %cover;
	}
}

.fancybox-can-swipe .fancybox-content {
	cursor: default;
}

.fancybox-toolbar {
	.fancybox-button {
		background-color: #fff;
	}
}

/* .fancybox-infobar,
.fancybox-toolbar {
	display: none;
} */

.fancybox-bg {
	z-index: 99991;
	background: #101112;
}

.fancybox-is-open .fancybox-bg {
	opacity: .8;
}

.fancybox-slide--image {
	.fancybox-content {
		left: 50%;
		transform: translate(-50%, -50%) !important;
		top: 50%;

		/* @media(min-width: 768px) {
			height: 100vh !important;
		} */

		/* @media(max-width: 500px) {
			width: calc(100vw - 3.2rem) !important;
		} */

		/* @media(max-width: 767px) {
			top: 50%;
			transform: translate(-50%, -50%) !important;
			height: 70vh !important;
		} */
	}
}

.fancybox-slide--video .fancybox-content {
	@media(min-width: 1025px) {
		width: 67rem !important;
	}
}

.fancybox-slide--html {
	@media(max-width: 500px) {
		padding: 0;
	}

	.fancybox-close-small {
		top: 0;
		right: -3.2rem - 1.5rem;
		z-index: 99995;
		padding: 0;
		width: 3.2rem;
		height: 3.2rem;
		opacity: 1;

		@media(max-width: 767px) {
			top: 2rem;
			right: 2rem;
		}

		svg {
			path {
				fill: #F4F4F6;

				@media(max-width: 767px) {
					fill: #101112;
				}
			}
		}
	}
}

.fancybox-button {

	width: 4.4rem;
	height: 4.4rem;

	svg {
		width: 3.2rem;
		height: 3.2rem;

		path {
			fill: #101112;
		}
	}
}

.fancybox-navigation .fancybox-button {
	width: 4.2rem;
	height: 4.2rem;
	border-radius: 50%;
	background: #fff;
	opacity: 1;
	transition: .3s background-color;

	div {
		padding: 0;
		@extend %flex-center;
	}

	&--arrow {

		&_left {
			left: calc((100vw - 64rem) / 2 - 6rem);
			padding: 0;
		}

		&_right {
			right: calc((100vw - 64rem) / 2 - 6rem);
			padding: 0;
		}
	}
}

.popup {

	background-color: #fff;

	&__close {
		position: absolute;
		top: 0;
		right: -1.5rem;

		svg {
			width: 3.2rem;
			height: 3.2rem;

			path {
				transition: .3s fill;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				svg path {
					fill: $red;
				}
			}
		}
	}
}

.mini-popup {

	@media(min-width: 1025px) {
		width: 76.8rem !important;
	}

	@media(max-width: 1024px) {
		width: 100vw;
		left: 0;
	}

	@media(max-width: 500px) {
		height: 100vh;
	}

	// .mini-popup__inner

	&__inner {
		display: grid;

		@media(min-width: 768px) {
			grid-template-columns: 33rem 1fr;
		}

		@media(max-width: 767px) {
			grid-template-rows: 30rem auto;
		}
	}

	// .mini-popup__content

	&__content {
		padding: 7rem 5.1rem;

		@media(max-width: 767px) {
			padding: 3rem 1.6rem;
		}
	}

	&__top {
		&:not(:last-child) {
			margin-bottom: 3.5rem;
		}
	}

	// .mini-popup__title

	&__title {
		@extend %text-25;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 0.8rem;
		}
	}

	// .mini-popup__subtitle

	&__subtitle {
		@extend %text-16;
		color: #777;

		&:not(:last-child) {
			margin-bottom: 3.6rem;

			@media(max-width: 500px) {
				margin-bottom: 2.5rem;
			}
		}
	}
}

.about-product {

	// .about-product__title

	&__title {
		@extend %text-16;
		font-weight: 600;
		margin-bottom: 0.8rem;
	}

	// .about-product__list

	&__list {
		@extend %text-13;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		div {
			&:not(:last-child) {
				margin-bottom: 0.4rem;
			}

			dt {
				color: #505661;
				padding-right: 0.3rem;
			}
		}
	}
}

#password-change {
	padding: 6rem;

	@media(max-width: 767px) {
		width: calc(100vw - 3.2rem);
		padding-left: 3rem;
		padding-right: 3rem;
	}

	@media(min-width: 768px) {
		width: 42rem !important;
	}

	@media(min-width: 1025px) {
		width: 42rem !important;
	}
}
