// ===================== CHECKBOXES ==================== //
.check {
	$this: &;

	&-box {
		width: 1px;
		height: 1px;
		overflow: hidden;
		position: absolute;
		clip: rect(0 0 0 0);

		&:checked~#{$this}-style {
			&:before {
				@extend %pos-center-xy;
				@extend %bg-contain;
				content: '';
				width: var(--icon-size_xs);
				height: 0.8rem;
				background-image: url(../images/icons/check.svg);

			}
		}
	}

	&-style {
		position: relative;
		width: var(--icon-size);
		height: var(--icon-size);
		flex-shrink: 0;
		border: 0.1rem solid var(--dark);
	}

	&-text {
		a {
			text-decoration: underline;
		}
	}

	&-color {
		@include round(var(--icon-size));
		margin-left: var(--offset-xs);

		&+#{$this}-text {
			margin-left: 0.5rem;
		}
	}
}
