.burger-menu {
	display: none;

	@media (max-width: 1024px) {
		display: block;
		position: absolute;
		top: 0;
		left: -100%;
		z-index: 101;
		width: calc(334 / 360 * 100%);
		height: 100%;
		padding: 2.5rem var(--offset) 7.5rem;
		background-color: #fff;
		box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.25);
		transition: $transition left;
		overflow: auto;
	}

	&.active {
		@media (max-width: 1024px) {
			left: 0;
		}
	}

	&__top {
		display: grid;
		grid-template-columns: var(--icon-size_ms) auto;
		gap: var(--offset-ms);
		align-items: flex-start;
		margin-bottom: var(--offset-ls);
	}

	&__region {
		&:not(:last-child) {
			@media (max-width: 1024px) {
				margin-bottom: 1.8rem;
			}
		}
	}

	&__list {
		margin-bottom: 2.8rem;

		>* {
			&:last-child {
				padding-right: 0;

				&:after {
					display: none;
				}
			}
		}
	}

	&__sublist {
		display: none;
		padding-left: var(--offset-sm);
		padding-top: var(--offset-s);
	}

	&__list-item {
		@include padding-y(var(--offset-s));
	}

	&__list-toggle {
		@extend %text-14;
		color: var(--dark);
		font-weight: 500;
		position: relative;
		padding-right: var(--offset-ms);

		&:after {
			content: '';
			position: absolute;
			top: 0.2rem;
			right: 0;
			width: var(--icon-size_sm);
			height: 1.5rem;
			background-image: url(../images/icons/drop.svg);
			@extend %bg-contain;
			transition: $transition transform;
		}

		&[aria-expanded="true"] {
			font-weight: 600;

			&:after {
				transform: rotate(180deg);
			}
		}
	}

	&__list-link {
		color: var(--dark);

		&--red {
			color: var(--red);
			font-weight: 500;
		}
	}

	&__bottom {
		@include row-grid(var(--offset-m));
	}

	.header {
		&__nav {
			@media (max-width: 1024px) {
				margin-top: 0;
			}
		}
	}
}
