.subscribe-form {

    // .subscribe-form__wrap

    &__wrap {
        &:not(:last-child) {
            margin-bottom: 1.4rem;
        }
    }

    &__success {
        margin-top: 2rem;
    }

    .form-agree {
        flex-wrap: wrap;

        .check-text {
            max-width: calc(100% - 3rem);
        }
    }
}
