.subscribe-form {
	&__wrap {
		&:not(:last-child) {
			margin-bottom: var(--offset-sm);
		}
	}

	&__success {
		margin-top: var(--offset-ms);
	}

	.form-agree {
		flex-wrap: wrap;

		.check-text {
			max-width: calc(100% - var(--offset-ls));
		}
	}
}
