.profile-page {

	padding-bottom: 11rem;

	@media(max-width: 500px) {
		padding-bottom: 5rem;
	}

	// .profile-page__inner

	&__inner {
		display: grid;
		grid-gap: 3rem;

		@media(min-width: 1025px) {
			grid-template-columns: max-content 98.3rem;
			justify-content: space-between;
		}
	}

	// .profile-page__title

	&__title {
		@extend %text-20;
		font-weight: 500;
		padding-bottom: 2rem;
		border-bottom: 0.1rem solid #EAEAEA;

		&:not(:last-child) {
			margin-bottom: 4rem;
		}
	}

	// .profile-page__tabs

	&__tabs {

		&:not(:last-child) {
			margin-bottom: 4rem;
		}
	}

	// .profile-page__tab

	&__tab {
		padding-bottom: 0.9rem;

		&:not(:last-child) {
			margin-right: 7rem;
		}
	}

	// .profile-page__orders

	&__orders {}
}
