#pickup-popup {
	@media(min-width: 1025px) {
		width: 103rem;
	}
}

.pickup-popup {
	overflow-x: hidden !important;

	@media(max-width: 1024px) {
		width: 100vw;
	}

	@media(max-width: 1024px) {
		min-height: 100vh;
	}

	&::-webkit-scrollbar {
		width: 0;
		-webkit-appearance: none;
	}

	// .pickup-popup__inner

	&__inner {
		display: grid;

		@media(max-width: 1024px) {
			grid-gap: 3rem;
		}

		@media(max-width: 500px) {
			grid-gap: 1.5rem;
		}

		@media(min-width: 1025px) {
			grid-template-columns: 31rem 1fr;
		}
	}

	&__body {
		@media(max-width: 1024px) {
			width: 100vw;
		}
	}

	&__title {
		@extend %text-20;
		font-weight: 500;
		padding: 2.5rem 2.5rem 1rem 2.5rem;
	}

	// .pickup-popup__shops

	&__shops {
		height: 74rem - 9.3rem - 6.5rem;
		overflow-y: auto;

		@media(min-width: 768px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		@media(min-width: 1025px) {
			display: block;
			@include scrollbar;
		}
	}

	// .pickup-popup__map

	&__map {
		position: relative;

		@media(max-width: 1024px) {
			height: 30rem;
		}
	}

	// .pickup-popup__search

	&__search {
		position: absolute;
		top: 3rem;
		left: 3rem;
		z-index: 30;
	}
}

#pickup-map {
	position: relative;
	z-index: 25;
	width: 100%;
	height: 100%;
	max-height: 74rem;
}

.pickup-search {

	@extend %flex-row;
	width: 35rem;
	height: 4rem;
	background-color: #fff;
	box-shadow: 0rem 0.4rem 0.7rem rgba(0, 0, 0, 0.06);

	@media(max-width: 500px) {
		width: calc(100vw - 3.2rem);
		left: 1.6rem;
	}

	// .pickup-search__input

	&__input {
		width: 100%;
		height: 100%;
		padding: 0 4rem;
		background-image: url(../images/icons/pickup-search.svg);
		background-position: 1.2rem 50%;
		background-size: 1.6rem 1.6rem;
		background-repeat: no-repeat;
		border: 0.1rem solid #EAEAEA;
		border-right: none;
		@extend %text-13;

		@media(max-width: 500px) {
			padding-right: 2rem;
		}

		&::placeholder {
			color: #777;
		}
	}

	&__reset {
		align-self: center;
		margin-right: 1.5rem;
		margin-left: auto;

		svg {
			width: 1rem;
			height: 1rem;

			path {
				transition: .3s fill;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				svg path {
					fill: $red;
				}
			}
		}
	}

	// .pickup-search__btn

	&__btn {
		@extend %text-12;
		font-weight: 500;
		padding: 1.1rem 2rem;
		white-space: nowrap;
	}
}
