.instagram-slider {
	.swiper-slide {
		height: 33.6rem;

		img {
			transition: 1s transform;

			&.loaded {
				@extend %cover;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
	}
}
