.catalog-view {
	display: flex;
	gap: var(--offset);

	@media(max-width: 500px) {
		gap: var(--offset-sm);
	}

	&__btn {
		svg {
			width: 1.9rem;
			height: 1.9rem;

			@media (max-width: 500px) {
				width: 1.8rem;
				height: 1.8rem;
			}

			rect {
				transition: $transition stroke;
			}
		}

		&.active {
			svg rect {
				stroke: #505661;
			}
		}
	}
}
