.action-btn {
	@extend %text-16;
	@extend %vertical-align;
	font-weight: 600;
	transition: $transition color;

	.icon {
		margin-right: 0.6rem;
		fill: var(--dark);

		@media (max-width: 1024px) {
			width: var(--icon-size_ms);
			height: var(--icon-size_ms);
		}

		@media (max-width: 1024px) {
			margin-right: 0;
		}
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--gray);

			.icon {
				fill: var(--gray);
			}
		}
	}
}
