.action-btn {
	@extend %text-16;
	@extend %vertical-align;
	font-weight: 600;
	transition: $transition color;

	svg {
		width: 1.6rem;
		height: 1.6rem;
		margin-right: 0.6rem;
		fill: var(--dark);
		transition: $transition fill;

		@media (max-width: 1024px) {
			width: 2rem;
			height: 2rem;
		}

		@media (max-width: 1024px) {
			margin-right: 0;
		}
	}

	span {
		@media (max-width: 1024px) {
			display: none;
		}
	}

	img {
		flex-shrink: 0;
		margin-right: 0.6rem;
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--gray);

			svg {
				fill: var(--gray);
			}
		}
	}
}
