.product-links {

	display: grid;
	grid-gap: 2.2rem;

	@media(min-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media(min-width: 1025px) {
		grid-template-columns: unset;
	}

	// .product-links__item-link

	&__item-link {
		display: grid;
		grid-template-columns: 4rem max-content;
		grid-template-rows: repeat(2, auto);
		grid-gap: 0.1rem 1.6rem;
	}

	&__item-img {
		width: 100%;
		grid-row: 1 / 3;
	}

	// .product-links__item-title

	&__item-title {
		@extend %text-14;
	}

	// .product-links__item-subtitle

	&__item-subtitle {
		grid-column: 2 / 3;
		@extend %text-13;
		color: #777;
	}
}
