.region-header {
	position: relative;
	display: inline-flex;
	gap: 0.6rem;

	// .region-header__value

	&__value {
		display: inline-block;
		padding-right: var(--offset-ms);
		font-weight: 600;
		cursor: pointer;
		transition: $transition color;

		@media (any-hover: hover) {
			&:hover {
				color: var(--gray);
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: 0.3rem;
			right: 0;
			width: var(--icon-size_sm);
			height: 1.5rem;
			background-image: url(../images/icons/drop.svg);
			@extend %bg-contain;
			transition: $transition transform;
		}

		&[aria-expanded="true"] {
			&:after {
				transform: rotate(180deg);
			}
		}
	}

	// .region-header__drop

	&__drop {
		display: none;
		position: absolute;
		top: calc(100% + var(--offset-sm));
		left: 50%;
		z-index: 20;
		background-color: #fff;
		box-shadow: 0rem -0.1rem 1rem rgba(0, 0, 0, 0.1);
		width: 24.7rem;
		padding: var(--offset-ms) 1.5rem;

		@media (max-width: 500px) {
			width: 100%;
			left: 0;
		}
	}

	// .region-header__drop-item

	&__drop-item {
		cursor: pointer;
		transition: $transition color;

		@media (any-hover: hover) {
			&:hover {
				color: var(--gray);
			}
		}

		//white-space: nowrap;

		&:not(:last-child) {
			margin-bottom: 1.7rem;
		}

		&.active {
			font-weight: 600;
		}
	}
}
