.back-link {
	$this: &;

	display: inline-flex;
	align-items: flex-start;
	color: var(--green);

	&__arrow {
		margin-right: var(--offset-xxs);
		fill: var(--green);
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--green-second);

			#{$this}__arrow {
				fill: var(--green-second);
			}
		}
	}
}
