.product-details {
	>* {
		&:not(:last-child) {
			padding-bottom: var(--offset-ms);
		}
	}
}

.product-details-section {
	&__heading {
		@extend %flex-row-center;
		@include padding-y(var(--offset-xs));
		border-bottom: 0.1rem solid var(--line-color);
		@extend %text-16;
		font-weight: 600;

		@media (max-width: 500px) {
			font-size: 1.4rem;
			line-height: 2.1rem;
		}
	}

	&__toggle {
		position: relative;
		@extend %text-13;
		padding-right: 2.5rem;
		text-transform: lowercase;
		white-space: nowrap;
		transition: $transition color;

		@media (max-width: 500px) {
			padding-right: var(--offset-ms);
		}

		&:after {
			content: '';
			position: absolute;
			top: 0.2rem;
			right: 0;
			width: var(--icon-size_sm);
			height: 1.5rem;
			background-image: url(../images/icons/drop.svg);
			@extend %bg-contain;
			transition: $transition transform;
		}

		&[aria-expanded="true"] {
			&:after {
				transform: rotate(180deg);
			}
		}
	}
}

.product-details-list {
	&__item {
		@extend %vertical-align;
		@include padding-y(0.6rem);
		gap: var(--offset-xs);
		border-bottom: 0.1rem dashed var(--line-color);

		@media (max-width: 1024px) {
			font-size: 1.3rem;
			line-height: 1.9rem;
		}

		@media (max-width: 500px) {
			flex-wrap: wrap;
			//grid-template-columns: 60% 40%;
		}

		dt {
			@extend %vertical-align;
			width: calc(50% - var(--offset-xs) / 2);

			@media(max-width: 500px) {
				width: calc(60% - var(--offset-xs) / 2);
			}
		}

		dd {
			font-weight: 600;
			width: calc(50% - var(--offset-xs) / 2);

			@media(max-width: 500px) {
				width: calc(40% - var(--offset-xs) / 2);
			}
		}

		p {
			max-width: 26.7rem;

			@media(max-width: 500px) {
				width: 100%;
			}
		}
	}
}

.cleaning-icons {
	display: flex;
	gap: 1.1rem;

	img {
		width: 3.3rem;
		height: 2.7rem;
	}
}
