.password-change {

	// .password-change__title

	&__title {
		@extend %text-25;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	// .password-change__form

	&__form {
		display: grid;
		grid-gap: 1.5rem;
	}

	// .password-change__form-btn

	&__form-btn {
		@extend %text-14;
		font-weight: 600;
		padding: 1.35rem;
	}
}
