.discounts-progress {
	scrollbar-width: 0;

	&:not(:last-child) {
		padding-bottom: 4rem;
	}

	@media(max-width: 1024px) {
		overflow-x: auto;
	}

	&::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 0;
	}

	&__list {
		display: flex;

		@media(max-width: 1024px) {
			width: calc(var(--icon-size_ls) * 9);
			min-width: calc(var(--icon-size_ls) * 9);
		}
	}

	// .discounts-progress__item

	&__item {
		@extend %text-16;
		font-weight: 600;
		position: relative;
		padding-top: 4.5rem;
		color: var(--gray);
		white-space: nowrap;

		&:first-child {
			margin-left: var(--offset-xxxs);
		}

		&:before,
		&:after {
			content: '';
		}

		&:not(:last-child) {
			margin-right: 9.2rem;

			&:after {
				position: absolute;
				bottom: var(--offset-xs);
				right: -1.7rem - 5.8rem;
				width: 5.8rem;
				height: 0.1rem;
				background-color: #DCDADA;
			}
		}

		&:before {
			top: 0rem;
			@extend %pos-center-x;
			width: var(--icon-size_ls);
			height: var(--icon-size_ls);
			background-image: url(../images/icons/lock.svg);
			@extend %bg-contain;
		}
	}

	// .discounts-progress__item--completed

	&__item--completed {
		color: #000;

		&:before {
			background-image: url(../images/icons/discount-check.svg);
		}
	}
}
