.promo-sale {
    &__grid {
        display: grid;
        grid-gap: 4.4rem var(--gap);

        @media (max-width: 1024px) {
            grid-gap: 3rem;
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1025px) {
            grid-template-columns: 1fr 33.6rem;
        }

        .sale-item {
            &__img {
                height: 25rem;
            }
        }
    }

    &__slider {
        width: 100%;

        @media (max-width: 1024px) {
            width: calc(100vw - 3.2rem);
        }

        @media (min-width: 768px) {
            grid-column: span 2;
        }

        @media (min-width: 1025px) {
            grid-row: span 2;
            grid-column: initial;
        }

        .swiper-slide {
            @extend %flex-col;

            .sale-item__img {
                flex-grow: 1;
                height: 61rem;

                @media (max-width: 1024px) {
                    height: 45rem;
                }

                @media (max-width: 767px) {
                    height: 25rem;
                }
            }
        }

        .swiper-horizontal > .swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            bottom: 5.4rem+1.2rem+2.5rem;
            left: 2.5rem;
        }
    }

    &__slider-arrows {
        position: absolute;
        right: 0;
        bottom: 2.4rem;

        @media (max-width: 500px) {
            display: none;
        }
    }
}
