.filters-btn {
	@extend %text-13;
	font-weight: 500;
	position: relative;
	padding-left: 2.6rem;
	display: none;

	&:before {
		content: '';
		@extend %pos-center-y;
		left: 0;
		width: var(--icon-size);
		height: var(--icon-size);
		background-image: url(../images/icons/filter.svg);
		@extend %bg-contain;
	}

	@media (max-width: 1024px) {
		display: block;
	}
}
