.brands-categories {
	display: flex;

	&::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 0;
	}

	@media (max-width: 767px) {
		overflow-x: auto;
	}

	// .brands-categories__item

	&__item {
		display: grid;
		justify-items: center;
		gap: var(--offset-s);
		flex-shrink: 0;
		margin-right: var(--gap);
	}

	// .brands-categories__item-img

	&__item-img {
		width: 12.8rem;
		height: 12.8rem;
		border-radius: 7rem;
		background-color: #efefef;

		img {
			@extend %cover;
			border-radius: 50%;
		}

		&--all {
			@extend %flex-center;

			img {
				width: 5rem;
				height: 3.6rem;
				object-fit: contain;
				border-radius: 0;
			}
		}

		@media (max-width: 500px) {
			width: 10rem;
			height: 10rem;
		}
	}

	// .brands-categories__item-title

	&__item-title {
		@extend %text-16;
		font-weight: 600;
		text-align: center;
		transition: $transition color;

		@media (any-hover: hover) {
			&:hover {
				color: var(--gray);
			}
		}
	}
}
