.feedback {
	&__form-inputs {
		margin-bottom: var(--offset-ms);
		display: grid;
		gap: var(--offset-ls);

		@media(min-width: 501px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media(min-width: 768px) {
			width: 55.8rem;
		}
	}

	// .feedback__form-textarea

	&__form-textarea {
		min-height: 10rem;

		@media(min-width: 501px) {
			grid-column: span 2;
		}
	}

	// .feedback__form-agrees

	&__form-agrees {
		&:not(:last-child) {
			margin-bottom: 2.6rem;
		}
	}

	// .feedback__form-agree

	&__form-agree {
		margin-bottom: var(--offset-s);
	}

	&__form-btn {
		justify-content: center;
		font-weight: 600;
		width: 26.4rem;
		padding: 1.25rem;
	}
}
