.profile-subscribes {
	// .profile-subscribes__inner

	display: grid;
	gap: 3rem var(--gap);

	@media (max-width: 1024px) {
		gap: 3rem;
	}

	@media (min-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
		align-items: flex-start;
	}

	@media (min-width: 1025px) {
		grid-template-columns: 1fr 33.6rem;
	}

	&__item {
		&--aside {
			background-color: var(--gray-bg);
			justify-content: flex-end;
			min-height: 22.3rem;

			.subscribe-card__content {
				padding-top: 0;
				align-items: flex-start;
				border: none;
				flex-grow: 1;
			}
		}
	}
}

.profile-subscribes-list {
	display: grid;
	row-gap: 1.6rem;
}
