.pickup-shops {

    // .pickup-shops__item

    &__item {
        padding: 1.4rem 2.5rem;

        @media(max-width: 500px) {
            padding-left: 1.6rem;
            padding-right: 1.6rem;
        }
    }
}

.pickup-shop {
    $this: &;

    @extend %flex-row;
    align-items: flex-start;
    transition: $transition background-color;
    cursor: default;

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--gray-bg);

            #{$this} {
                &__info {
                    color: var(--dark);
                }

                &__filter {
                    &--card {
                        fill: var(--dark);
                    }

                    &--clothes {
                        stroke: var(--dark);
                    }
                }
            }
        }
    }

    &.active {
        background-color: #E4EFE7;
    }

    // .pickup-shop__title

    &__title {
        font-weight: 600;

        &:not(:last-child) {
            margin-bottom: 0.6rem;
        }
    }

    // .pickup-shop__info

    &__info {
        @extend %text-12;
        font-weight: 500;
        color: var(--gray-777);
        transition: $transition color;

        li {
            &:not(:last-child) {
                margin-bottom: 0.2rem;
            }
        }
    }

    // .pickup-shop__delivery-time

    &__delivery-time {
        @extend %text-13;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    // .pickup-shop__btn

    &__btn {
        @extend %text-12;
        font-weight: 600;
        padding: 1rem 1.6rem;
        margin-top: 0.7rem;
        //display: none;
    }

    // .pickup-shop__filters

    &__filters {
        @extend %flex-col;
    }

    &__filter {
        width: 1.4rem;
        height: 1.4rem;
        transition: $transition all;

        &--card {
            fill: #505661;
        }

        &--clothes {
            stroke: #505661;
        }

        &:not(:last-child) {
            margin-bottom: 0.6rem;
        }
    }
}
