.pickup-shops {

	// .pickup-shops__item

	&__item {
		padding: 1.4rem 2.5rem;

		@media(max-width: 500px) {
			padding-left: 1.6rem;
			padding-right: 1.6rem;
		}
	}
}

.pickup-shop {
	@extend %flex-row;
	align-items: flex-start;
	transition: .3s background-color;
	cursor: default;

	@media (any-hover: hover) {
		&:hover {
			background-color: #F4F4F6;

			.pickup-shop {
				&__info {
					color: #101112;
				}

				&__filter {
					&--card {
						path {
							fill: #101112;
						}
					}

					&--clothes {
						path {
							stroke: #101112;
						}
					}
				}
			}
		}
	}

	&.active {
		background-color: #E4EFE7;
	}

	// .pickup-shop__title

	&__title {
		font-weight: 600;

		&:not(:last-child) {
			margin-bottom: 0.6rem;
		}
	}

	// .pickup-shop__info

	&__info {
		@extend %text-12;
		font-weight: 500;
		color: #777;
		transition: .3s color;

		li {
			&:not(:last-child) {
				margin-bottom: 0.2rem;
			}
		}
	}

	// .pickup-shop__delivery-time

	&__delivery-time {
		@extend %text-13;

		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}

	// .pickup-shop__btn

	&__btn {
		@extend %text-12;
		font-weight: 600;
		padding: 1rem 1.6rem;
		margin-top: 0.7rem;
		//display: none;
	}

	// .pickup-shop__filters

	&__filters {
		@extend %flex-col;
	}

	&__filter {
		width: 1.4rem;
		height: 1.4rem;

		&:not(:last-child) {
			margin-bottom: 0.6rem;
		}

		path {
			transition: .3s all;
		}
	}
}
