.cancel-brand-letter {
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-decoration: none;
	display: none;

	svg {
		margin-left: 0.5rem;
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--red);

			svg {
				fill: var(--red);
			}
		}
	}
}
