.brands {
	&__inner {
		@media(min-width: 1025px) {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-gap: 5.2rem;
		}

		@media(max-width: 1024px) {
			display: flex;
			overflow: scroll;
		}
	}

	&__item {
		@media(max-width: 1024px) {
			width: 18rem;
			height: 12rem;
			flex-shrink: 0;
			margin-right: 3rem;
		}
	}
}
