.product-color {

	// .product-color__row

	&__row {
		@extend %vertical-align;
	}

	&__title {
		&:not(:last-child) {
			margin-right: 1.4rem;
		}
	}

	// .product-color__item

	&__item {
		cursor: pointer;

		&:not(:last-child) {
			margin-right: 1rem;
		}

		.radio-style {
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			@extend %flex-center;
			border-width: 0;
			border-style: solid;

			&--checked {
				border-width: 0.1rem;
			}

			span {
				width: 2.2rem;
				height: 2.2rem;
				border-radius: 50%;
			}
		}
	}
}
