.product-color {
    // .product-color__row

    &__row {
        @extend %vertical-align;
        flex-wrap: wrap;
        gap: 1.4rem;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}
