.header {

	position: relative;
	// .header__top

	&__top {
		display: none;

		@media(min-width: 1025px) {
			display: block;
			padding: 1.2rem 0;
		}
	}

	// .header__top-inner

	&__top-inner {
		@extend %flex-row-center;
	}

	// .header__action

	&__action {
		@extend %text-16;
		@extend %vertical-align;
		font-weight: 600;
		transition: .3s color;

		svg {
			width: 1.6rem;
			height: 1.6rem;
			margin-right: 0.6rem;

			@media(max-width: 1024px) {
				width: 2rem;
				height: 2rem;
			}

			path {
				transition: .3s fill;
			}
		}

		img {
			flex-shrink: 0;
			margin-right: 0.6rem;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $red;

				svg path {
					fill: $red;
				}
			}
		}
	}

	// .header__location

	&__location {
		display: flex;
		@extend %text-14;

		@media(max-width: 1024px) {
			margin-bottom: 3rem;
		}
	}

	&__location-label {
		margin-right: 0.6rem;
	}

	&__region {
		position: relative;
		position: relative;
		padding-right: 2rem;
		font-weight: 600;
		cursor: pointer;

		&:after {
			content: '';
			position: absolute;
			top: 0.2rem;
			right: 0;
			width: 1.4rem;
			height: 1.5rem;
			background-image: url(../images/icons/drop.svg);
			@extend %bg-contain;
			transition: .3s transform;
		}
	}

	// .header__shops-search

	&__shops-search {
		@extend .header__action;
		@extend %text-14;
		font-family: 'Raleway',
			sans-serif;

		@media(min-width: 1025px) {
			margin-left: 4.3rem;
			margin-right: auto;
		}
	}

	// .header__contact

	&__contact {
		@extend %text-14;

		@media(min-width: 1025px) {
			display: flex;
		}
	}

	// .header__call

	&__call {
		display: flex;

		&:not(:last-child) {
			@media(min-width: 1025px) {
				margin-right: 3.6rem;
			}

			@media(max-width: 1024px) {
				margin-bottom: 2.4rem;
			}
		}
	}

	// .header__call-link

	&__call-link {
		@extend .header__action;

		&:not(:last-child) {
			margin-right: 0.6rem;
		}
	}

	// .header__call-descr

	&__call-descr {
		color: #505661;
	}

	// .header__whatsup

	&__whatsup {
		@extend .header__action;
		color: #479458;

		@media (any-hover: hover) {
			&:hover {
				color: #479458;
			}
		}
	}

	// .header__main

	&__main {
		@extend %text-16;
		padding: 2.5rem 0;

		@media(max-width: 1024px) {
			padding-top: 2rem;
			padding-bottom: 0;
		}
	}

	// .header__main-top

	&__main-top {
		@extend %flex-row-center;
		flex-wrap: wrap;

		@media(min-width: 1025px) {
			margin-bottom: 2.3rem;
		}
	}

	// .header__nav

	&__nav {
		display: flex;

		@media(max-width: 1024px) {
			width: 100%;
			order: 4;
			margin-top: 2.4rem;
		}
	}

	// .header__nav-link

	&__nav-link {
		@extend %text-16;
		font-weight: 600;
		color: #9B9B9B;
		padding-bottom: 0.6rem;
		transition: .3s color;

		@media(max-width: 1024px) {
			padding-bottom: 0.8rem;
		}

		@media(max-width: 1024px) {
			font-size: 1.4rem;
			line-height: 2.1rem;
		}

		&:not(:last-child) {
			margin-right: 3.5rem;

			@media(max-width: 1024px) {
				margin-right: 3rem;
			}
		}

		&.active {
			position: relative;
			color: #101112;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 0.2rem;
				background-color: #000;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				color: #101112;
			}
		}
	}

	// .header__logo

	&__logo {
		width: 20.7rem;
		height: 3.1rem;

		@media(max-width: 1024px) {
			margin-left: 1.6rem;
			margin-right: auto;
		}

		@media(max-width: 500px) {
			width: 12rem;
			height: 1.7rem;
		}
	}

	// .header__actions

	&__actions {
		display: flex;

		>* {
			&:not(:last-child) {
				margin-right: 5.3rem;

				@media(max-width: 1024px) {
					margin-right: 2rem;
				}
			}

			svg {
				@media(max-width: 1024px) {
					margin-right: 0;
				}
			}

			span {
				@media(max-width: 1024px) {
					display: none;
				}
			}
		}
	}

	// .header__search-btn

	&__search-btn {
		display: none;
		@extend %bg-contain;

		@media(max-width: 1024px) {
			display: block;
			width: 2rem;
			height: 2rem;
			background-image: url(../images/icons/search.svg);
		}
	}

	// .header__main-bottom

	&__main-bottom {

		@media(min-width: 1025px) {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}

		@media(max-width: 1024px) {
			position: absolute;
			left: -100%;
			bottom: 0;
			transition: .5s left;
		}

		&--active {
			@media(max-width: 1024px) {
				left: 1.6rem;
				right: 1.6rem;
			}
		}
	}

	// .header__list

	&__list {
		display: none;

		@media(min-width: 1025px) {
			display: flex;
		}
	}

	// .header__list-item

	&__list-item {
		&:not(:last-child) {
			@media(min-width: 1025px) {
				margin-right: 3rem;
			}
		}
	}

	// .header__list-link

	&__list-link {
		transition: .3s color;

		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}

		&--active {
			font-weight: 600;
		}

		&--red {
			color: $red;
		}
	}
}

.header-info-line {

	@extend %text-13;
	background-color: #101112;
	color: #fff;
	font-weight: 600;
	padding: 1rem 0;
	position: relative;
	// .header-info-line__inner

	&__inner {
		@extend %flex-row-center;

		p {
			&:last-child {
				@media(max-width: 1024px) {
					display: none;
				}
			}
		}
	}

	&__close {
		display: none;
		@extend %pos-center-y;

		@media(min-width: 1025px) {
			display: block;
			position: absolute;
			right: 12 / 1600 * 100%;
			width: 1.6rem;
			height: 1.6rem;
		}

		svg path {
			transition: .3s fill;
		}

		@media (any-hover: hover) {
			&:hover {
				svg path {
					fill: #fff;
				}
			}
		}
	}
}

.search-form {

	position: relative;
	// .search-form__input

	&__input {
		@extend %text-12;
		line-height: 1.4rem;
		color: #101112;
		background-color: #fff;
		border: 0.1rem solid #777;
		width: 33.6rem;
		padding: 1.1rem 1.5rem 1.1rem 3.5rem;
		background-image: url(../images/icons/search.svg);
		background-size: 1.6rem 1.6rem;
		background-position: 1rem 50%;
		background-repeat: no-repeat;
		transition: .5s width;

		&::placeholder {
			font-style: italic;
			color: #777;
		}

		@media(max-width: 1024px) {
			border-color: #2D703C;
			padding: 1rem 2.7rem 1rem 3.4rem;
			//filter: drop-shadow(0rem 0.4rem 1.4rem rgba(39, 116, 56, 0.8));
		}

		&--active {
			width: 100%;
		}

		&::placeholder {
			color: #777777;
		}
	}

	&__help {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 25;
		padding: 1.6rem;
	}
}

.help-search {
	display: none;
	background-color: #FFF;
	box-shadow: 0rem -0.1rem 1rem rgba(0, 0, 0, 0.1);

	&__item {
		display: block;
		@extend %text-12;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		span {
			color: #777;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $green;

				span {
					color: $green;
				}
			}
		}
	}
}
