.header {
	position: relative;
	// .header__top

	&__top {
		display: none;

		@media (min-width: 1025px) {
			display: block;
			@include padding-y(var(--offset-s));
		}
	}

	// .header__top-inner

	&__top-inner {
		@extend %flex-row-center;
	}

	// .header__shops-search

	&__shops-search {
		@media (min-width: 1025px) {
			margin-right: auto;
		}

		&:not(:first-child) {
			@media (min-width: 1025px) {
				margin-left: 4.3rem;
			}
		}
	}

	// .header__main

	&__main {
		@extend %text-16;
		padding: 2.5rem 0 var(--offset-xs);

		@media (max-width: 1024px) {
			padding-top: var(--offset-ms);
			padding-bottom: 0;
		}
	}

	// .header__main-top

	&__main-top {
		@extend %flex-row-center;
		flex-wrap: wrap;

		>* {
			@media (min-width: 1025px) {
				width: 33.3333%;
			}
		}

		@media (min-width: 1025px) {
			margin-bottom: 2.3rem;
		}
	}

	// .header__nav

	&__nav {
		display: flex;

		@media (max-width: 1024px) {
			width: 100%;
			order: 4;
			margin-top: var(--offset-m);
		}
	}

	// .header__logo

	&__logo {
		@media (max-width: 1024px) {
			margin-left: var(--offset);
			margin-right: auto;
		}
	}

	&__logo-img {
		width: 20.7rem;

		@media (max-width: 1024px) {
			width: 17rem;
			height: 2.5rem;
		}

		@media (max-width: 767px) {
			width: 12rem;
			height: 1.7rem;
		}
	}

	// .header__actions

	&__actions {
		display: flex;
		gap: 5.3rem;

		@media (max-width: 1024px) {
			gap: var(--offset-ms);
		}

		@media (min-width: 1025px) {
			justify-content: flex-end;
		}

		.action-btn {
			&__text {
				@media (max-width: 1024px) {
					display: none;
				}
			}
		}
	}

	// .header__search-btn

	&__search-btn {
		display: none;
		@extend %bg-contain;

		@media (max-width: 1024px) {
			display: block;
			width: var(--icon-size_ms);
			height: var(--icon-size_ms);
			background-image: url(../images/icons/search.svg);
		}
	}

	// .header__main-bottom

	&__main-bottom {
		@media (min-width: 1025px) {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}

		@media (max-width: 1024px) {
			position: absolute;
			left: -100%;
			bottom: 0;
			transition: 0.5s left;
		}

		&.active {
			@media (max-width: 1024px) {
				left: var(--container-padding);
				right: var(--container-padding);
			}
		}
	}

	// .header__list

	&__list {
		display: none;

		@media (min-width: 1025px) {
			display: flex;
			gap: var(--offset-ls);
		}
	}

	// .header__list-item

	&__list-item {
		@media (any-hover: hover) {
			&:hover {
				.drop-menu {
					@media (min-width: 1025px) {
						@include show();
					}
				}
			}
		}
	}

	// .header__list-link

	&__list-link {
		&--active {
			font-weight: 600;
		}

		&--red {
			color: var(--red);

			@media (any-hover: hover) {
				&:hover {
					color: var(--red);
				}
			}
		}
	}

	&__whatsapp {
		margin-left: 3.6rem;
	}

	.action-btn {
		span {
			@media (max-width: 1024px) {
				display: none;
			}
		}
	}
}

.region-header {
	display: inline-flex;
	position: relative;

	&__title {
		//color: #505661;

		&:not(:last-child) {
			margin-right: 0.6rem;
		}
	}

	// .region-header__value

	&__value {
		display: inline-block;
		padding-right: var(--offset-ms);
		font-weight: 600;
		cursor: pointer;
		transition: $transition color;

		@media (any-hover: hover) {
			&:hover {
				color: var(--gray);
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: 0.3rem;
			right: 0;
			width: var(--icon-size_sm);
			height: 1.5rem;
			background-image: url(../images/icons/drop.svg);
			@extend %bg-contain;
			transition: $transition transform;
		}

		&.active {
			&:after {
				transform: rotate(180deg);
			}
		}
	}

	// .region-header__drop

	&__drop {
		display: none;
		position: absolute;
		top: calc(100% + var(--offset-sm));
		left: 50%;
		z-index: 20;
		background-color: #fff;
		box-shadow: 0rem -0.1rem 1rem rgba(0, 0, 0, 0.1);
		width: 24.7rem;
		padding: var(--offset-ms) 1.5rem;

		@media (max-width: 500px) {
			width: 100%;
			left: 0;
		}
	}

	// .region-header__drop-item

	&__drop-item {
		cursor: pointer;
		transition: $transition color;

		@media (any-hover: hover) {
			&:hover {
				color: var(--gray);
			}
		}

		//white-space: nowrap;

		&:not(:last-child) {
			margin-bottom: 1.7rem;
		}

		&.active {
			font-weight: 600;
		}
	}
}
