.subscribe-card {
	@extend %flex-col;

	&__head {
		background-color: var(--gray-bg);
		padding: 2.5rem;
	}

	// .subscribe-item__title

	&__title {
		@extend %text-16;
		font-weight: 600;
	}

	// .subscribe-item__content

	&__content {
		@extend %flex-col;
		padding: 1.5rem 2.5rem 2.5rem;
		border: 0.1rem solid var(--line-color);
		border-top: none;

		@media (max-width: 1024px) {
			@include padding-x(1.5rem);
		}

		>* {
			&:not(:last-child) {
				margin-bottom: var(--offset-ms);
			}
		}
	}

	&__email {
		flex-grow: 1;
	}

	&__wrap {
		display: grid;
		gap: 1.5rem;

		@media (min-width: 1025px) {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
	}

	// .subscribe-item__list

	&__list {
		@include row-grid(var(--offset-sm));
	}

	&__text {
		@extend %text-13;
		color: var(--dark-gray);
	}

	// .subscribe-item__buttons

	&__bottom {
		@extend %vertical-align;
		flex-wrap: wrap;
		gap: var(--offset);
	}

	&__notify {
		@extend %text-13;
	}

	// .subscribe-item__change-btn

	&__change-btn {
		text-decoration: underline;

		@media (any-hover: hover) {
			&:hover {
				color: var(--gray);
			}
		}
	}

	// .subscribe-item__cancel-btn

	&__cancel-btn {
		@extend %text-13;
		font-weight: 500;
		padding: 1.3rem var(--offset-ms);
		justify-content: center;
	}

	// .subscribe-item__btn

	&__btn {
		font-weight: 500;
		padding: 1.3rem var(--offset-ls);
	}
}
