.tooltip {
	position: relative;
	margin-left: 0.6rem;
	flex-shrink: 0;

	&__btn {
		@extend %vertical-align;

		svg {
			width: 1.7rem;
			height: 2.1rem;

			path {
				&:nth-child(1) {
					transition: $transition stroke;
				}
			}

			path {
				&:nth-child(2) {
					transition: $transition fill;
				}
			}
		}

		@media (any-hover: hover) {
			&:hover {
				path {
					&:nth-child(1) {
						stroke: var(--dark);
					}

					&:nth-child(2) {
						fill: var(--dark);
					}
				}
			}
		}
	}

	// .tooltip__content

	&__content {
		display: none;
		position: absolute;
		top: 0;
		left: calc(100% + 0.7rem);
		z-index: 25;
		width: 19.8rem;
		padding: var(--offset-xs);
		background-color: #fff;
		border: 0.1rem solid var(--line-color);
		box-sizing: border-box;
		box-shadow: 0rem 0.1rem 2.8rem rgba(0, 0, 0, 0.07);
		border-radius: 0.4rem;
		font-weight: 500;
		@extend %text-10;

		@media (min-width: 1025px) {
			font-size: 10px;
			line-height: 15px;
		}

		@media (max-width: 500px) {
			width: 14rem;
		}
	}
}
