.catalog-filters {
	// .catalog-filters__row

	@media (max-width: 1024px) {
		position: fixed;
		top: -150%;
		left: 0;
		z-index: 101;
		width: 100%;
		height: 100vh;
		background-color: #fff;
		transition: $transition top;
		padding: var(--offset-m) var(--offset);
		overflow-y: auto;
	}

	&.active {
		@media (max-width: 1024px) {
			top: 0;
		}
	}

	&__header {
		@extend %flex-row-center;
		display: none;

		@media (max-width: 1024px) {
			display: flex;
		}

		&:not(:last-child) {
			margin-bottom: var(--offset-ls);
		}
	}

	&__back-btn {
		margin-right: var(--offset-xxs);
		flex-shrink: 0;
		display: none;

		svg {
			fill: var(--dark-gray);
		}
	}

	&__title {
		@extend %text-17;
		font-weight: 500;
		transition: $transition all;
		position: relative;
		margin-right: auto;
	}

	&__row {
		@media (min-width: 1025px) {
			display: flex;
			flex-wrap: wrap;
			gap: var(--offset-xs) 2.6rem;
			padding-right: var(--offset-ls);
		}
	}

	// .catalog-filters__item

	&__item {
		position: relative;

		&:first-child {
			.catalog-drop-filter {
				@media (min-width: 1025px) {
					width: 20.7rem;
				}
			}
		}

		&--material {
			.catalog-drop-filter {
				@media (min-width: 1025px) {
					width: 39.1rem;
				}
			}
		}

		&--color {
			.catalog-drop-filter__item {
				align-items: center;
			}
		}
	}

	// .catalog-filters__reset-btn

	&__reset-btn {
		display: none;

		@media (min-width: 1025px) {
			margin-top: 1.5rem;
			font-size: 1.2rem;
			line-height: 1.8rem;
			font-weight: 600;
			text-decoration: none;
			display: inline-flex;

			svg {
				margin-left: 0.5rem;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--red);

				svg {
					fill: var(--red);
				}
			}
		}
	}
}
