.catalog-filters {
    // .catalog-filters__row

    @media (max-width: 1024px) {
        position: fixed;
        top: -150%;
        left: 0;
        z-index: 101;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        transition: $transition top;
        padding: 2.4rem 1.6rem;
        overflow-y: auto;
    }

    &.active {
        @media (max-width: 1024px) {
            top: 0;
        }
    }

    &__header {
        @extend %flex-row-center;
        display: none;

        @media (max-width: 1024px) {
            display: flex;
        }

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }

    &__back-btn {
        width: 2rem;
        height: 2rem;
        margin-right: 0.8rem;
        flex-shrink: 0;
        display: none;

        svg {
            width: 2rem;
            height: 2rem;
            fill: var(--dark-gray);
        }
    }

    &__title {
        @extend %text-17;
        font-weight: 500;
        transition: $transition all;
        position: relative;
        margin-right: auto;
    }

    &__close {
        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    &__row {
        @media (min-width: 1025px) {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem 2.6rem;
            padding-right: 3rem;
        }
    }

    // .catalog-filters__item

    &__item {
        position: relative;

        &:first-child {
            .catalog-drop-filter {
                @media (min-width: 1025px) {
                    width: 20.7rem;
                }
            }
        }

        &--material {
            .catalog-drop-filter {
                @media (min-width: 1025px) {
                    width: 39.1rem;
                }
            }
        }

        &--color {
            .catalog-drop-filter__item {
                align-items: center;
            }
        }
    }

    // .catalog-filters__reset-btn

    &__reset-btn {
        @extend %text-12;
        display: none;

        @media (min-width: 1025px) {
            margin-top: 1.5rem;
            font-weight: 600;
            color: var(--gray);
            transition: $transition color;
            display: flex;
            align-items: center;

            svg {
                width: 1.6rem;
                height: 1.6rem;
                margin-left: 0.5rem;
                fill: var(--gray);
                transition: $transition fill;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                color: var(--red);

                svg {
                    fill: var(--red);
                }
            }
        }
    }
}
