.breadcrumbs {
	padding: 4rem 0 2rem;

	&__item {
		position: relative;
		display: inline-block;
		@extend %text-13;
		padding-right: 1.8rem;
		margin-right: 1.4rem;
		transition: .3s color;

		@media (any-hover: hover) {
			&:hover {
				color: $green;
			}
		}

		&:after {
			content: '|';
			position: absolute;
			@extend %pos-center-y;
			right: 0;
		}

		&:last-child {
			color: #777;

			&:after {
				content: '';
			}
		}
	}
}
