.aside-popup {
	position: absolute;
	top: 0;
	right: -100%;
	z-index: 101;
	bottom: 0;
	height: 100%;
	width: 51.5rem;
	background-color: #fff;
	transition: $transition all;
	overflow-x: hidden;
	overflow-y: auto;
	@include scrollbar;
	@include hide();

	&--basket {
		padding-bottom: 0;
	}

	&.active {
		right: 0;
		@include show();

		@media (max-width: 767px) {
			right: 0;
		}
	}

	@media (max-width: 767px) {
		width: 100%;
		right: -100%;
	}

	// .aside-popup__close

	&__close {
		position: absolute;
		top: var(--offset-ms);
		right: var(--offset-ms);
		z-index: 20;
		width: var(--icon-size_l);
		height: var(--icon-size_l);

		svg {
			fill: var(--dark-gray);
			transition: $transition fill;
		}

		@media (any-hover: hover) {
			&:hover {
				svg {
					fill: var(--red);
				}
			}
		}
	}

	// .aside-popup__title

	&__title {
		@extend %text-25;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: var(--offset-ls);
		}
	}

	&__back-btn {
		text-decoration: none;
		margin-bottom: var(--gap);

		@media (max-width: 500px) {
			margin-bottom: var(--offset-ls);
		}

		svg {
			margin-right: var(--offset-xs);
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--dark);

				svg {
					fill: var(--dark);
				}
			}
		}
	}

	// .aside-popup__text

	&__text {
		&:not(:last-child) {
			margin-bottom: 4rem;
		}
	}

	// .aside-popup__tabs

	&__tabs {
		gap: 4rem;
		margin-bottom: 4rem;
	}

	// .aside-popup__tab

	&__tab {
		padding-bottom: 0.9rem;
	}

	// .aside-popup__content

	&__content {
		@media (min-width: 768px) {
			width: 30rem;
		}
	}

	&__body {
		&:not(:last-child) {
			padding-bottom: var(--offset-ls);
		}
	}

	// .aside-popup__form

	&__form {
		&:not(:last-child) {
			margin-bottom: 4rem;
		}
	}

	&__form-inputs {
		@include row-grid(1.5rem);

		&:not(:last-child) {
			margin-bottom: var(--offset-ms);
		}
	}

	&__form-wrap {
		@extend %flex-row-center;

		&:not(:last-child) {
			margin-bottom: var(--offset-ls);
		}

		.form-agree {
			align-items: center;
		}

		.check-text {
			margin-left: var(--offset-xxs);
		}
	}

	&__form-btn {
		justify-content: center;
		font-weight: 600;
		padding: 1.3rem;
		width: 100%;
	}

	&__form-success {
		margin-top: var(--offset-ls);
	}

	// .aside-popup__link-btn

	&__link-btn {
		font-weight: 500;
		color: var(--green);
		text-align: left;
	}

	// .aside-popup__social

	&__social {
		padding-top: var(--offset-ls);
		border-top: 0.1rem solid #ccc;
	}

	// .aside-popup__social-title

	&__social-title {
		margin-bottom: var(--offset);
		font-weight: 500;
	}

	&__social-list {
		gap: var(--offset-ms);

		svg {
			width: 4rem;
			height: 4rem;
			fill: var(--dark);
		}
	}
}
