.discounts-progress {

	&:not(:last-child) {
		padding-bottom: 4rem;
	}

	@media(max-width: 1024px) {
		overflow-x: auto;
	}

	&__list {
		display: flex;

		@media(max-width: 1024px) {
			width: 3rem * 9;
			min-width: 3rem * 9;
		}
	}

	// .discounts-progress__item

	&__item {
		@extend %text-16;
		font-weight: 600;
		position: relative;
		padding-top: 4.5rem;
		color: #777;
		white-space: nowrap;

		&:first-child {
			margin-left: 0.4rem;
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
		}

		&:not(:last-child) {
			margin-right: 9.2rem;

			&:after {
				bottom: 1rem;
				right: -1.7rem - 5.8rem;
				width: 5.8rem;
				height: 0.1rem;
				background-color: #DCDADA;
			}
		}

		&:before {
			top: 0rem;
			@extend %pos-center-x;
			width: 3rem;
			height: 3rem;
			background-image: url(../images/icons/lock.svg);
			@extend %bg-contain;
		}
	}

	// .discounts-progress__item--completed

	&__item--completed {
		color: #101112;

		&:before {
			background-image: url(../images/icons/discount-check.svg);
		}
	}
}

.personal-discout {

	&:not(:last-child) {
		padding-bottom: 4rem;
	}

	// .personal-discout__title

	&__title {
		@extend %text-16;
		font-weight: 600;

		&:not(:last-child) {
			margin-bottom: 1.3rem;
		}
	}

	// .personal-discout__list

	&__list {

		li {
			@extend %text-16;
		}
	}
}

.discount-add {

	border-top: 0.1rem solid #EAEAEA;
	padding-top: 4rem;

	@media(min-width: 1025px) {
		width: 85.4rem;
	}

	// .discount-add__title

	&__title {
		@extend %text-16;
		font-weight: 600;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	// .discount-add__value

	&__value {
		@extend %vertical-align;
		@extend %text-16;
		font-weight: 500;
	}

	// .discount-add__label

	&__label {

		&:not(:last-child) {
			margin-right: 1.2rem;
		}
	}
}
