.shop-item {

	>* {
		&:not(:first-child) {
			margin-left: 4rem;

			@media(max-width: 500px) {
				margin-left: 2.5rem + 0.8rem;
			}
		}
	}

	&__top {
		@extend %vertical-align;

		svg {
			width: 3.2rem;
			height: 3.2rem;
			margin-right: 0.8rem;

			path {
				transition: .3s fill;
			}

			@media(max-width: 500px) {
				width: 2.5rem;
				height: 2.5rem;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				.shop-item__title {
					color: $green;
				}

				svg path {
					fill: $green;
				}
			}
		}

		&:not(:last-child) {
			margin-bottom: 1.1rem;
		}
	}

	// .shop-item__title
	&__title {
		@extend %text-20;
		font-weight: 500;
		transition: .3s color;
		cursor: pointer;

		@media(max-width: 500px) {
			font-size: 1.6rem;
			line-height: 2.4rem;
		}
	}

	// .shop-item__address

	&__address {
		p {
			@extend %text-16;
			color: #505661;

			&:not(:last-child) {
				margin-bottom: 0.4rem;
			}
		}

		&:not(:last-child) {
			margin-bottom: 1.6rem;

			@media(max-width: 500px) {
				font-size: 1.4rem;
				line-height: 2.1rem;
				margin-bottom: 1rem;
			}
		}
	}

	// .shop-item__phone

	&__phone {
		@extend %vertical-align;
		@extend %text-16;
		font-weight: 600;

		&:not(:last-child) {
			margin-bottom: 1.6rem;

			@media(max-width: 500px) {
				font-size: 1.4rem;
				line-height: 2.1rem;
				margin-bottom: 1rem;
			}
		}

		svg {
			width: 1.4rem;
			height: 1.4rem;
			margin-right: 0.8rem;

			path {
				transition: .3s fill;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				color: $red;

				svg path {
					fill: $red;
				}
			}
		}
	}

	&__status {
		@extend %text-16;
		position: relative;
		padding-left: 2.1rem;

		@media(max-width: 500px) {
			font-size: 1.4rem;
			line-height: 2.1rem;
		}

		&:before {
			content: '';
			position: absolute;
			@extend %pos-center-y;
			top: 1.2rem;
			left: 0;
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
			background-color: $green;

			@media(max-width: 500px) {
				top: 1rem;
			}
		}
	}
}

.popover-content {
	width: 28.6rem;
}

.shop-title {
	@extend %text-17;
	font-weight: 600;

	&:not(:last-child) {
		margin-bottom: 1.2rem;
	}
}

.shop-address {
	@extend %text-14;

	&:not(:last-child) {
		margin-bottom: 0.7rem;
	}
}

.shop-time {
	@extend %text-14;

	&:not(:last-child) {
		margin-bottom: 2.3rem;
	}
}

.shop-phone {
	@extend %text-14;
	font-weight: 600;
}

.ballon-content {
	padding: 1.5rem 1.6rem;
}
