.pageup {
	$this: &;

	@extend %flex-center;
	@include round(7rem);
	position: fixed;
	right: calc(46 * 100vw / 1920);
	bottom: 5rem;
	z-index: 100;
	border: 0.1rem solid var(--dark-gray);
	transition: $transition all;
	@include hide();

	@media (max-width: 1024px) {
		right: var(--container-padding);
	}

	@media (max-width: 767px) {
		width: 5rem;
		height: 5rem;
	}

	&.active {
		@include show();
	}

	&.in-footer {
		bottom: 14rem;

		@media (max-width: 767px) {
			bottom: 5rem;
		}
	}

	// .pageup__arrow

	&__arrow {
		width: var(--icon-size_ls);
		height: var(--icon-size_ls);
		fill: var(--dark-gray);
		transition: $transition fill;

		@media (max-width: 767px) {
			width: var(--icon-size_ms);
			height: var(--icon-size_ms);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--dark-gray);

			#{$this}__arrow {
				fill: #fff;
			}
		}
	}
}
