.search-shops {
	&__select {
		width: 33.6rem;

		@media (max-width: 500px) {
			width: 100%;
		}
	}
}

#shops-map {
	height: 50rem;
	margin-top: var(--offset-l);
	margin-bottom: var(--gap);

	@media (max-width: 500px) {
		height: 40rem;
		margin-bottom: var(--offset-ls);
	}

	>* {
		width: 100% !important;
		height: 100% !important;

		>* {
			width: 100% !important;
			height: 100% !important;
		}
	}
}
