.shops-availability {
	// .shops-availability__select

	&__select {
		width: 33.6rem;

		@media (max-width: 500px) {
			width: 100%;
		}

		&:not(:last-child) {
			margin-bottom: 5rem;

			@media (max-width: 500px) {
				margin-bottom: var(--offset-ls);
			}
		}
	}

	&__content {
		display: none;

		&--active {
			display: block;
		}
	}

	// .shops-availability__list

	&__list {
		display: grid;
		gap: var(--gap) 0;

		@media (max-width: 1024px) {
			gap: var(--offset-ls);
		}

		@media (min-width: 501px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
